* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   font-family: 'montserrat', sans-serif;
   background-image: url('https://source.unsplash.com/1600x900/?landscape');
   background-size: cover;
   background-position: top center;
}

.app-wrap {
   display: flex;
   flex-direction: column;
   min-height: 100vh;
   background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6));
}

header {
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 50px 15px 15px;
}

header input {
   width: 100%;
   max-width: 310px;
   padding: 10px 15px;
   border: none;
   outline: none;
   background-color: rgba(255, 255, 255, 0.5);
   border-radius: 16px 16px 16px 16px;
   border-bottom: 3px solid #df8e00;
   color: #313131;
   font-size: 20px;
   font-weight: 300;
   /* transition: 0.2s ease-out; */
}

header input:hover {
    background-color: rgba(255, 255, 255, 0.6);
    cursor: pointer;
    transform: scale(1.3);
    transition: all 0.3s ease-in-out;
}

header input:focus {
    cursor: auto;
}

main {
   flex: 1 1 100%;
   padding: 25px 25px 50px;
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;
}

.location .city {
   color: #fff;
   font-size: 32px;
   font-weight: 500;
   margin-bottom: 5px;
}

.location .date {
   color: #fff;
   font-size: 18px;
   font-weight: 500;
}

.current .temp {
   color: #fff;
   font-size: 102px;
   font-weight: 900;
   margin: 25px 0px;
   text-shadow: 2px 10px rgba(0, 0, 0, 0.6);
}

.current .temp span {
   font-weight: 500;  
}

.current .feels {
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    margin: 25px 0px;
    text-shadow: 0px 2.5px rgba(0, 0, 0, 0.4);
}

.current .hi-low {
   color: #fff;
   font-size: 24px;
   font-weight: 520;
   margin-bottom: 10px;
   text-shadow: 0px 2.75px rgba(0, 0, 0, 0.4);
}

.current .weather {
   color: #fff;
   font-size: 32px;
   font-weight: 700;
   font-style: italic;
   text-transform: capitalize;
   margin: 15px 0px;
   text-shadow: 0px 3px rgba(0, 0, 0, 0.4);
}

.current .humidity {
   color: #fff;
   font-size: 22px;
   font-weight: 500;
   text-shadow: 0px 2.5px rgba(0, 0, 0, 0.4);
}

.current .wind-speed {
   color: #fff;
   font-size: 22px;
   font-weight: 500;
   text-shadow: 0px 2.5px rgba(0, 0, 0, 0.4);
}

::placeholder {
   color: #fff;
   opacity: .7;
}

.loading {
    visibility: hidden;
    max-height: 20px;
    position: relative;
}

.loading:after {
    visibility: visible;
    content: 'Waiting for city...';
    color: rgb(252, 247, 247);
    position: absolute;
    font-size: 25px;
    top: 0;
}
